*
{
	padding: 0;
	margin: 0;
}

html {
	width: 98%;
	height: 98%;
	margin: 0% 1% 1% 1%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
}

ul
{
	width: 100%;
	height: 50px;
	list-style-type: none;
	display: flex;
	flex-direction: row;
}

h1
{
	margin: 10px 20px;
}

button
{
	margin: 20px;
}

table, #table_container
{
	width: 100%;
	height: 100%;
 	border-collapse: collapse;
 	background-color: lightgrey;
 	animation-name: fadeInAnimation;
 	animation-duration: 2s;
}


@keyframes fadeInAnimation
{
	from {background-color: white;}
	to {background-color: lightgrey;}
}

h1
{
	font-family: Impact, Charcoal, sans-serif;
}

td
{
 	border: 1px solid skyblue;
 	padding: 0;
    transition: all 0.3s linear;
    animation-duration: 0.3s;
	animation-fill-mode: backwards;
}

.empty
{
	background-color: white;
	animation-name: unselectAnimation;
}

.empty:hover
{
	background-color: lightgrey;
}

.wall
{
	background-color: lightblue;
	animation-name: selectAnimation;
}

.wall:hover
{
	background-color: skyblue;
}

.path
{
	background-color: yellow;
}

.visited
{
	background-color: purple;
}

.start
{
	background-color: lightgreen;
}

.start:hover
{
	background-color: green;
}

.end
{
	background-color: pink;
}

.end:hover
{
	background-color: red;
}

@keyframes unselectAnimation
{
	from {transform: scale(1);}
	to {transform: scale(0.1);}
}

@keyframes selectAnimation
{
	0% {transform: scale(.1);}
	50% {transform: scale(1.5);}
	100% {transform: scale(1);}
}