
html {
	width: 98%;
	height: 98%;
	margin: 0% 1% 1% 1%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
}

table, div
{
	width: 100%;
	height: 100%;
 	border-collapse: collapse;
 	background-color: lightgrey;
}

h1
{
	font-family: Impact, Charcoal, sans-serif;
}

td
{
 	border: 1px solid skyblue;
 	padding: 0;
    transition: all 0.3s linear;
    animation-duration: 0.3s;
	animation-fill-mode: backwards;
}


td:hover
{
	background-color: lightgrey;
}

.empty
{
	background-color: white;
	animation-name: unselectAnimation;
}

.wall
{
	background-color: skyblue;
	animation-name: selectAnimation;
}

@keyframes unselectAnimation
{
	from {transform: scale(1);}
	to {transform: scale(0.1);}
}

@keyframes selectAnimation
{
	0% {transform: scale(.1);}
	50% {transform: scale(1.5);}
	100% {transform: scale(1);}
}